:host {
  display: block;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.scene-container {
  position: absolute;
  top: 0;
  height: 100%;
  background-size: cover;

  &:not(.loading) {
    transition: left 0.5s ease-out;
  }
}

.filter {
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.95);
}

.btn-goto {
  position: absolute;
  padding: 20px;
  background-color: white;
}

.btn-navigate {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  &.to-left {
    left: 10px;
  }

  &.to-right {
    right: 10px;
  }
}

