:host {
  display: block;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.scene-container {
  position: absolute;
  top: 0;
  height: 100%;
  background-size: cover;

  &:not(.loading) {
    transition: left 0.5s;
  }
}

.filter {
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.95);
}

.btn-goto {
  cursor: pointer;
  position: absolute;
  font-size: 60px;
  width: 75px;
  height: 75px;
  border: 0;
  outline: 0;
  background: #ffffffc7;
  color: #a1a1a1;
  border-radius: 50%;
}

.btn-navigate {
  height: 40px;
  line-height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  background-color: black;
  color: white;
  justify-content: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  border: 0;
  outline: 0;
  font-size: 46px;
  transform: translateY(-50%);

  i {
    cursor: pointer;
  }

  &.to-left {
    left: 10px;
  }

  &.to-right {
    right: 10px;
  }
}

